.social-banner {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 22.44rem;
  border-radius: var(--radius-pill);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../img/social_banner_bg.webp");
  background-size: cover;
  padding: 3.75rem 0;
}

.social-banner__title {
  color: var(--white, rgba(255, 255, 255, 1));
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
  max-width: 80%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.social-banner__buttons {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 2.5rem;
}
