/**
 * Главный файл стилей проекта Форсаж
 * Все стили организованы в модули для удобства поддержки
 */

/* Main CSS orchestrator */
@import "base.css";
@import "layout.css";

/* UI-Kit */
@import "ui-kit/buttons.css";
@import "ui-kit/price-card.css";

/* Components */
@import "./components/header.css";
@import "./components/mobile-menu.css";
@import "./components/home-hero.css";
@import "./components/steps.css";
@import "./components/form-consult.css";
@import "./components/categories.css";
@import "./components/breadcrumbs.css";

/* Страницы */
@import "./pages/fast-courses.css";
@import "./pages/about.css";
@import "./pages/faq.css";
@import "./pages/gallery.css";
@import "./pages/news.css";
@import "./pages/news-element.css";
@import "./pages/specsignal.css";
@import "./pages/schedule.css";
@import "./pages/price.css";
@import "./pages/contacts.css";
@import "./pages/search.css";
@import "./pages/autodrome.css";
@import "./pages/error.css";
