.news-and-discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.news-and-discount__title {
  color: var(--black, rgba(26, 26, 26, 1));
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

.news-and-discount__list {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
