.office-map {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.office-map__wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  border-radius: var(--radius-pill);
  box-shadow: var(--shadow-md);
}

.office-map__content {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.office-map__content[hidden] {
  display: none;
}

.office-map__benefits {
  color: var(--black, rgba(26, 26, 26, 1));
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  padding: 0 1.5rem;
}
.office-map__label {
  color: var(--black, rgba(26, 26, 26, 1));
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.office-map__locations {
  color: var(--black, rgba(26, 26, 26, 1));
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  list-style: none;
  margin: 0 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
}

.office-map__locations-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--black, rgba(26, 26, 26, 1));
  font-size: 1.56rem;
  font-weight: 500;
  text-transform: uppercase;
}

.office-map__locations-description {
  position: absolute;
  font-size: 1.25rem;
  font-weight: 400;
  top: 2rem;
  left: 1.2rem;
}

.office-map__map {
  margin-left: auto;
  border-radius: var(--radius-pill);
}

.district-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  height: 2.63rem;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 20rem;
  background: var(--light-gray, rgba(242, 242, 242, 1));
}

.district-tabs__item {
  height: 100%;
}

.district-tabs__button {
  height: 100%;
  border: none;
  background: transparent;
  color: var(--black, rgba(26, 26, 26, 1));
  font-size: 1.13rem;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 20rem;
  padding: 0 1.5rem;
}

.district-tabs__button:hover {
  background: var(--color-accent-hover);
}

.district-tabs__button_active {
  background: var(--color-accent);
}
